flutter/build/
flutter/.dart_tool/
flutter/.idea/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages

react-expo/node_modules/
react-expo/.expo/
react-expo/dist/

.DS_Store
